/* Add your comments here */

body {
    color: white;
    background: rgb(226, 61, 21);
    background: linear-gradient(350deg, rgba(226, 61, 21, 1) 10%, rgba(235, 118, 37, 1) 20%, rgba(252, 176, 69, 1) 38%, rgba(250, 169, 65, 1) 56%, rgba(235, 118, 37, 1) 70%, rgba(226, 61, 21, 1) 82%);
    font-family: Arial, Helvetica, sans-serif,
        Helvetica,
        sans-serif;
    font-size: 15px;

    margin: auto;
    max-width: 850px;
}

img {
    float: right;
    border-width: 1px;
    margin: 2px;
    max-width: 300px;
    border-radius: 1rem;
}

h1.name {
    font-size: 700%;
    color: rgb(255, 231, 194);
    line-height: 120px;
    font-weight: bolder;
    font-family: "Arial";
    margin-bottom: 5px;
    font-
}

p.simple {
    margin-top: 30px;
    font-size: 200%;
    color: rgb(255, 231, 194);
    font-weight: bolder;
    margin-bottom: 120px;
}

.logo {
    font-size: medium;
}

ul.navigation {}

ul.navigation li {
    list-style-type: none;
    float: left;
    margin: 5px;
    margin-bottom: 15px;
    background-color: rgb(255, 231, 194);
    padding: 6px;
    border-radius: .45rem;
    color: rgb(250, 109, 44);
}

ul li {}

ul.navigation a:link {
    color: rgba(226, 61, 21, 1);
}

ul.navigation a:visited {
    color: rgb(250, 109, 44);
}

ul.navigation a:hover {
    color: rgb(219, 163, 43);
}

a:link {
    color: rgb(240, 145, 227);
    font-weight: bold;
}

a:visited {
    color: rgb(240, 145, 227)
}

a:hover {
    color: rgb(178, 207, 245);
}

h2,
h3 {
    color: rgb(240, 145, 227);
    margin-top: 40px;
    margin-bottom: 1px;
}

h4 {
    padding-top: 15px;
}

h4,
h5,
h6 {
    color: rgb(178, 207, 245);
}

.special {

    color: rgb(240, 145, 227);
    /*Experimenting with different styles: 
    color: rgb(8, 13, 51);
    background-color: rgb(228, 182, 255);
    padding: 2.5px;
    border-radius: 1rem;
    */
    font-weight: bold;
}

p {
    line-height: 25px;
    font-size: 15px;

}

ul {
    list-style-type: "  ";

}